@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --page-width: 1440px;
  --animation-transition: 0.2s;
  --bg-color1: #f9f9f9;
  --main-color: #0969da;
  --hover-color: #18559e;
  --success-color: #30a14e;
  --border-color: rgb(15 23 42 / 0.1);
}

* {
  font-family: "Jost";
  text-decoration: none;
}

hr {
  margin: 20px 0;
}

li::marker {
  content: '-';
  background-color: var(--main-color);
}

.button {
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  padding: 8px 14px;
  transition: var(--animation-transition);
  border: none;

  &:hover {
    background-color: var(--hover-color);
  }

  &:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--main-color), 0 1px 2px 0 black;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  accent-color: var(--main-color);
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--main-color);
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: fit-content;
}

.MuiPaper-root {
  padding: 24px;
}

h3 {
  @apply text-3xl font-semibold mb-6
}

table {
  width: 100%;
}

thead {
  background-color: #f9fafb;
  font-weight: 600;
}

tbody {
  font-weight: 400;
}

tr {
  border-bottom: 1px solid var(--border-color);
}

th {
  font-weight: inherit;
  padding: 12px 16px;
}